*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.header-first-part{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    width: 500px;
    margin: 0px auto;
}
.header-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0px;

}
.header-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}
.header-flower{
    width: 435px;
    height: 600px;
    margin: 50px 150px 0px 0px;
}
/* header part finish */
/* second section start */
.flower{
    margin: 100px 0px;

}
.flower-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.flower-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin: 30px auto;
    font-weight: 400;
    line-height: 30px;
}
.flower-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.flower-div-one{
    width:280px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}
.flower-one{
    width: 220px;
    height: 280px;
    margin-top: 70px;
}
.flower-div-two{
    width:280px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}
.flower-two{
    width: 220px;
    height: 280px;
    margin-top: 70px;
}
.flower-div-three{
    width:280px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}
.flower-three{
    width: 220px;
    height: 280px;
    margin-top: 70px;
}
.for-all{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* second section finish */
/* forth section start */
.hot-deal{
    width: 100%;
    height: 420px;
    background: rgba(229, 84, 115, 0.05);
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
}
.hot-deal-part-one{
    text-align: center;
}
.hot-deal-heading{
    color: #272727;
    font-size: 30px;
    font-weight: 900;
}
.hot-deal-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 32px;
}
.hot-deal-button{
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
}
.hot-deal-img{
    width: 218px;
    height: 320px;
}
.hot-deal-span{
    font-size: 30px;
    font-weight: 900;
    color: #E55473;
}
/* forth section finish */
/* fifth section start */
.instagram{
    text-align: center;
    margin-bottom: 100px;
}
.instagram-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.instagram-flower-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.instagram-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 24px auto;
}
.instagram-flower{
    width: 250px;
    height: 250px;
}
/* fifth section end */
/* sixth section start */

.latest-deal{
    background-image: url('flower-shop-assignment/Flower\ Asset/Rectangle 9.png');
    width: 76%;
    height: 449px;
    margin: 100px auto 100px;
}
.latest-deal-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 150px 0px 0px;
}
.latest-deal-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px 22px;
}
.latest-deal-input{
    width: 500px;
    height: 64px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
}
.latest-deal-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    border: none;
    border-radius: 8px;
    background: #E55473;
}
.latest-deal-email{
    display: flex;
    justify-content: center;
    gap: 5px;
}
/* sixth section finish */
/* footer part start */
.footer{
    background: #111010;
    width: 100%;
    height: 449px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-heading{
    font-size: 48px;
    font-weight: 800;
}
.footer-paragraph{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.small{
    opacity: 0.4;
}
.span-footer{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
/* footer part finish */